<%= render "layouts/navbar" %>
<%= render "layouts/banner" %>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
     <div class="card-container col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= image_path cocktail.photo %>')">
          <%= link_to cocktail.name, cocktail %>
        </div>
     </div>
    <% end %>
  </div>
  <br>
</div>
<button class="center btn btn-perso"><%= link_to 'Create a New Cocktail', new_cocktail_path %></button>
<%= render "layouts/footer" %>
